.container-1, .container-2{
    border: 1px solid black;
    width : 75%;
    margin: 0 auto;
    text-align: center;
}


.flex-box-container-1, .flex-blackjack-row-1 , .flex-blackjack-row-2 , .flex-blackjack-row-3{
    display: flex;
    border: 1px solid black;
    padding: 10px;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
}

.flex-blackjack-row-1 , .flex-blackjack-row-2{
    background: url(blackjack.jpg) center; 
    color: white;
}

.flex-blackjack-row-1 div{
    flex: 1;
    text-align: center;
    padding: 10px;
    height: 350px;
}

.flex-blackjack-row-1 img{
    width: 25%;
    padding: 10px;

}

.flex-blackjack-row-2 button{
    flex: 1;
    border: 1px solid black;
    margin: 1   0px

}

table, th, td{
    padding: 10px;
    border: 1px solid black;
}


.flex-box-container-1 div{
    display: flex;
    padding: 10px;
    align-items: center;
}

.flex-box-result{
    flex-wrap :wrap;
    justify-content: space-around ;

}
.flex-box-result img{
    border: 1px solid blueviolet;
    margin: 10px;
     
}

.flex-box-game{
    border: 1px solid black;
    flex-wrap :wrap;
    justify-content: space-around ;
}

.flex-box-game img{
    padding: 10px;
    margin: 10px;
    flex-wrap :wrap;
    justify-content: space-around ;
}

.flex-box-game img:hover{
    box-shadow:  0px 10px 25px goldenrod;
}

.flex-box-game div img{
    margin: 0 auto;
    flex-wrap :wrap;
    justify-content: space-around ;
}

.flex-box-button{
    display: flex;
    border: 1px solid black;
    padding: 10px;
    flex-wrap: wrap;
    justify-content: space-around;
}